.App, .body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    main {
        flex: 1 ;
    }
    .background {
        background-color:#fff3e0 ;
    }

    
}
html, body, #root, .App {
    height: 100%;
}

body {
    margin: 0;
}