.App-body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    main {
        flex: 1 ;
    }
    .background {
        background-color:#5e4319 ;
    }

    canvas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

}
html, body, #root, .App {
    height: 100%;
}

body {
    margin: 0;
}

p {
    color: red($color: #a72525);
}