*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}
.opacity {
    background: #fff;
    
    opacity: .9 ;
   
  }

.background {
    background-color:#0d0e04 ;
}
.gangR {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p {
    color: red($color: #a72525);
}